/*
========================================
Clearfix
========================================
*/

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

body {
    overflow: hidden;
}


/* 
=================================
Header
=================================
*/

header {
    padding: 10px;
    border: 3px solid #fff;
    margin: 0 auto;
    width: 100%;
}


/*
=================================
Навигация
================================= 
*/

.nav {
    padding-top: 5px;
    width: 100%;
    margin: 0;
}

.block-btn,
.nav p {
    display: inline-block;
}

.logo {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.nav li {
    float: right;
    padding-bottom: 5px;
    letter-spacing: .5px;
    margin: 0 10px;
    cursor: pointer;
}

.nav li:hover {
    color: #a9b2b9;
}


/* 
===============================
Modal window
*/

.modalWindow-wrapper {
    width: 300px;
    height: 280px;
    background-color: #78909c;
    position: absolute;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    padding: 6px;
    border-radius: 5px;
    z-index: 20;
}

.bg-layer {
    position: fixed!important;
    z-index: 15!important;
    min-width: 100%!important;
    height: 100%!important;
    background: #000!important;
    opacity: 0.5!important;
    display: block!important;
}

.bg-layer-true {
    display: none;
}

#headerModal img {
    float: right;
    cursor: pointer;
}

#headerModal img:hover {
    background-color: darkgray;
}

#headerModal p {
    float: left;
    font-size: 18px;
    font-weight: 600;
}

#headerModal {
    padding: 5px;
}

.modalWindow-wrapper form {
    clear: both;
    padding: 5px 5px 5px 5px;
    border-top: 2px solid #ccc;
    margin-top: 5px;
}

.modalWindow-wrapper button {
    clear: both;
    border-radius: 2px;
    margin: 5px 0 0 5px;
    height: 30px;
    width: 150px;
    font-size: 16px;
    font-weight: 600;
}

.methods {
    box-sizing: border-box;
}

.methods label {
    display: block;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}

.methods select {
    /* background: transparent; */
    width: 260px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 34px;
}

.methods input {
    /* background: transparent; */
    width: 260px;
    font-size: 17px;
    font-weight: 600;
    /* border: 1px solid #CCC; */
    height: 34px;
}

#headerModal img {
    float: right;
}


/* .lHeader {
background-color: rgba(0, 0, 0, 0.3);
color: #fff;
}

.lOption {
background-color: #78909c;
}

.lOption:hover {
background-color: #CCC;
color: #000000;
} */


/*
=================================
Toasts
================================= 
*/

.toast-container {
    left: 15%;
    top: 20%;
    display: block;
    box-sizing: border-box;
    position: fixed;
    z-index: 25;
    background-color: transparent;
    min-width: 150px;
    margin: 5px;
    /* border: 2px solid #000; */
}

.toast {
    margin: 10px;
    border: 2px solid #000000;
    background-color: #000;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    width: 200px;
    /* transform: translateX(-25px); */
}


/* 
==================
loader
==================
*/

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*
=================================
Table Field
================================= 
*/

#main-part {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 5px solid #fff;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: auto;
}


/* 
=======================
table
=======================
*/

table {
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: middle;
    opacity: 0;
}

th,
td {
    padding: 8px;
    border: 1px solid #000;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
    color: #000;
}

th {
    background-color: #ccc;
    text-align: center;
}

td:hover {
    background-color: rgb(35, 37, 35);
    color: #fff;
}

td span {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

.taskDescription-display {
    display: none;
    text-align: left;
}

.colorGreen {
    background-color: green;
}

.colorGray {
    background-color: gray;
}

.colorBlue {
    background-color: blue;
}


/* 
=============================
Chat
=============================
*/

.float-right {
    float: right;
}

.chat-wrapper {
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #78909c;
    margin: 5px;
    color: #fff;
    /* width: 500px;
    min-width: 50px;
    position: relative; */
    box-sizing: border-box;
}

.transform {
    display: none;
}

.chat-wrapper img {
    cursor: pointer;
    width: 35px;
}

.chat-wrapper img:hover {
    background-color: #a9b2b9;
}

.chat-header {
    margin: 2px;
    padding: 5px;
    height: 20px;
    clear: both;
}

.task-theme {
    float: left;
    font-size: 18px;
    font-weight: 600;
}

.to-back {
    float: right;
}

.rotate {
    transform: rotate(180deg);
}

.to-back:hover {
    background-color: #a9b2b9;
}

.chat-message {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    color: #000;
    margin: 5px 2px 2px 2px;
    padding: 5px;
    clear: both;
    height: 300px;
    box-sizing: border-box;
}

.chat-field-text-to-send {
    resize: none;
    margin: 2px;
    height: 45px;
    max-width: 400px;
    border-radius: 5px;
}

.chat-btn {
    margin: 2px;
    float: right;
    position: relative;
}


/* 
=============================
Select menu - Table
=============================
*/

.select-wrapper {
    border: 1px solid #000;
    background-color: #78909c;
    width: 250px;
    opacity: 0;
    transform-origin: 0px 0px 0px;
    cursor: pointer;
}

.select-wrapper li {
    /* cursor: pointer; */
    min-height: 30px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    padding: 5px;
}

 :focus {
    outline: none;
}

.lStatus {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.lSelect {
    background-color: #78909c;
}

.lSelect:hover {
    background-color: #CCC;
    color: #000000;
}


/* 
=================================
No task container
=================================
*/

.oops {
    width: 300px;
    position: relative;
}

.wrapperContent {
    width: 300px;
    position: relative;
    left: 45px;
}


/* 
===========================
Button
===========================
*/

.btn {
    height: 30px;
    width: 200px;
    margin: 5px;
    overflow: hidden;
    background-color: #78909c;
    color: #000;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid #000;
    cursor: pointer;
}

.btn:hover {
    background-color: #000;
    color: #ccc;
}


/* 
==============================
Модальное окно для задачи
==============================
*/

.left-side {
    float: left;
    /* position: relative; */
}

.right-side {
    float: right;
    /* border: 1px solid #000; */
}

.right-side * {
    display: block;
}

.left-side * {
    display: block;
}

.left-side textarea {
    resize: none;
    width: 260px;
    height: 154px;
}

.right-side .left-side {
    height: 240px;
    width: 265px;
}

.select-theme {
    height: 34px;
    width: 260px;
    border: 1px solid #000;
    color: #000;
    background-color: #ccc;
    cursor: pointer;
    position: relative;
}

.select-theme p {
    vertical-align: middle;
    text-align: left;
    padding: 10px 0 0 5px;
    display: inline-block;
}

.select-theme span {
    vertical-align: middle;
    text-align: left;
    padding-top: 10px;
    padding-right: 10px;
    display: inline-block;
    position: absolute;
    right: 3px;
}

.lHeader {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.lContent {
    background-color: #78909c;
}

.lContent:hover {
    background-color: #CCC;
    color: #000000;
}

.lFooter {
    background-color: #78909c;
}

.lFooter:hover {
    background-color: #CCC;
    color: #000000;
}

.hide {
    display: none;
}

.toggleToHide {
    display: none;
}

.select-users {
    height: 34px;
    width: 260px;
    border: 1px solid #000;
    color: #000;
    background-color: #ccc;
    cursor: pointer;
    position: relative;
}

.select-users p {
    vertical-align: middle;
    text-align: left;
    padding: 10px 0 0 5px;
    display: inline-block;
}

.select-users span {
    vertical-align: middle;
    text-align: left;
    padding-top: 10px;
    padding-right: 10px;
    display: inline-block;
    position: absolute;
    right: 3px;
}

.no-valid {
    border: 1px solid red;
}


/* 
=======================================
MODAL WINDOW 
*/

.select-role {
    height: 34px;
    width: 260px;
    border: 1px solid #000;
    color: #000;
    background-color: #ccc;
    cursor: pointer;
    position: relative;
}

.select-role p {
    vertical-align: middle;
    text-align: left;
    padding: 10px 0 0 5px;
    display: inline-block;
}

.select-role span {
    vertical-align: middle;
    text-align: left;
    padding-top: 10px;
    padding-right: 10px;
    display: inline-block;
    position: absolute;
    right: 3px;
}

.select-item {
    height: 34px;
    width: 260px;
    border: 1px solid #000;
    color: #000;
    background-color: #ccc;
    cursor: pointer;
    position: relative;
}

.select-item p {
    vertical-align: middle;
    text-align: left;
    padding: 10px 0 0 5px;
    display: inline-block;
}

.select-item span {
    vertical-align: middle;
    text-align: left;
    padding-top: 10px;
    padding-right: 10px;
    display: inline-block;
    position: absolute;
    right: 3px;
}


/* 
=================================================
LOGO IMAGE
=================================================
*/

.logo {
    width: 160px;
    position: relative;
    top: 15px;
}

.logoImage {
    width: 150px;
    height: 80px;
    cursor: pointer;
}